@import url(https://fonts.googleapis.com/css?family=Raleway:100);

body {
	font: 90%/1.35em sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

div.container {
	max-width: 100%;
	max-height: 90%;
	margin: 0 auto;
	padding: 10px;
	background-color: white;
}

div.editor_holder {
	margin: 0 auto;
	background: color #ee88ee;;
}

h1,h3 {
	font-family:Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
	font-size: 3em;
	line-height: 1em;
}

h1 span {
	font-size: 0.5em;
	line-height: 1em;
}

div.row{
	background-color: #F0F0F0;
}

div.form-control {
	background-color: #F0F0F0;
	border-radius: 0px;
	border: white;
	padding: 5px;
}

input{
	height: 20px;
}

td.details-control {
    background: url('/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/resources/details_close.png') no-repeat center center;
}

td.td_extra {
	text-align: right;
	width: 10em;
}