@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font: 85%/1.25em 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

div.container {
	max-width: 95%;
	max-height: 95%;
	padding: 10px;
}

h1 {
	font-family:Helvetica, 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
	font-size: 3em;
	line-height: 1em;
}

h1 span {
	font-size: 0.5em;
	line-height: 1em;
}

h3 {
	font-family:Helvetica, 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
	font-size: 2em;
	line-height: 1em;
}

table.display tbody tr:hover td{
    background-color: #f2f2f2;
}
 
.form-control {
	font: 100%/1.25em 'Open Sans', sans-serif;
	border-color: gray;
	padding: 5px;
}

input{
	height: 20px;
}

td.details-control {
    background: url('/resources/details_open.png') no-repeat center center;
	cursor: pointer;
}

td.review {
    background: url('/resources/review.png') no-repeat center center;
	cursor: pointer;
	background-size: 20px 20px;
}

tr.shown td.details-control {
    background: url('/resources/details_close.png') no-repeat center center;
}

td.td_extra {
	text-align: right;
	width: 8em;
}

#tbl_info {
	border-collapse: collapse;	
	width: 95%;
}

#tbl_info td, #tbl_info th {
	border-left: 0px none;
	border-right: 0px none;
	border-bottom: 1px solid lightgray;
	padding: 8px;
}

#tbl_info tr:nth-child(even){background-color: #f2f2f2;}

td.td_info {
	width: 10em;
	text-align: right;
}