<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
	<title>Applications to FSU CS Graduate Programs</title>

	<link rel="stylesheet" type="text/css" href="resources/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="resources/simple.css">

	<script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" language="javascript" src="resources/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="/resources/local.js"></script>
	<script type="text/javascript" language="javascript" src="/resources/js.cookie.js"></script>

	<script type="text/javascript" language="javascript" class="init">
		var fields = facts_app();

		function format(row_data) {
			function gen_td(field) {
				if (fields[field].can_change) {
					return '<td class="td_tag">' + fields[field].tag + ':</td>' +
						'<td> <input type="text" id=input_' + field + '_' + row_data.applicant_id + ' value="' + row_data[field] + '"></td>'
				} else {
					return '<td class="td_tag">' + fields[field].tag + ':</td>' +
						'<td>' + row_data[field] + '</td>';
				}
			}

			function gen_btn(name, id) {
				return '<input type="file" class="' + name + '"  id="' + name + '_' + id + '" accept=".pdf" >';
			}

			function gen_btns() {
				var applicant_id = row_data.applicant_id;

				return '<td colspan="8"> <div class="btn-group btn-group-sm">' +
					gen_btn("btn_resume", applicant_id) +
					gen_btn("btn_ps", applicant_id) +
					gen_btn("btn_ug_trans", applicant_id) +
					gen_btn("btn_grad_trans", applicant_id) +
					gen_btn("btn_toefl", applicant_id) +
					gen_btn("btn_gre", applicant_id) +
					gen_btn("btn_letter1", applicant_id) +
					gen_btn("btn_letter2", applicant_id) +
					gen_btn("btn_letter3", applicant_id) +
					gen_btn("btn_letter4", applicant_id) +
					gen_btn("btn_other1", applicant_id) +
					gen_btn("btn_other2", applicant_id) +
					'</div> </td>'
			}

			// `row_data` is the original data object for the row
			return '<table class="child" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
				'<tr>' +
				gen_td("emp_id") + gen_td("applicant_id") + gen_td("name") + gen_td("gender") +
				'</tr>' + '<tr>' +
				gen_td("country") + gen_td("program") + gen_td("degree") + gen_td("interests") +
				'</tr>' + '<tr>' +
				gen_td("ug_university") + gen_td("ug_major") + gen_td("ug_degree") + gen_td("ug_gpa") +
				'</tr>' + '<tr>' +
				gen_td("grad_university") + gen_td("grad_major") + gen_td("grad_degree") + gen_td("grad_gpa") +
				'</tr>' + '<tr>' +
				gen_td("toefl_ielts") + gen_td("gre") + gen_td("decision") + gen_td("advisor") +
				'</tr>' + '<tr>' +
				gen_td("assistantship") + gen_td("fte") + gen_td("yearly_amount") +
				'<td></td><td> <button type="button" class="btn btn-primary" id="btn_update' + row_data.applicant_id + '">Update</button>' +
				'</tr>' + '<tr>' +
				gen_btns() +
				'</tr>' +
				'</table>';
		}

		function style_files(row_data) {
			$.ajax({
				type: "GET",
				url: "/file/" + row_data.applicant_id,
				dataType: "text",
				complete: function (data) {
					function style_file(listing, name, desc) {
						var btn_class = listing.includes(name) ? "btn-outline-secondary" : "btn-outline-primary";
						var btn_name = ".btn_" + name;
						$(btn_name).filestyle({ input: false, siz: "sm", btnClass: btn_class, text: desc });
					}

					var listing = data.responseText;
					// toast(listing);
					style_file(listing, "resume", "resume");
					style_file(listing, "ps", "statement");
					style_file(listing, "ug_trans", "UG Trans");
					style_file(listing, "grad_trans", "Grad Trans");
					style_file(listing, "toefl", "TOEFL");
					style_file(listing, "gre", "GRE");
					style_file(listing, "letter1", "Letter 1");
					style_file(listing, "letter2", "Letter 2");
					style_file(listing, "letter3", "Letter 3");
					style_file(listing, "letter4", "Letter 4");
					style_file(listing, "other1", "Other 1");
					style_file(listing, "other2", "Other 2");
				}
			});
		}

		$(document).ready(function () {
			// Setup - add a text input to each footer cell
			$('#applicants tfoot th').each(function () {
				if ($(this).text().length > 0) {
					$(this).html('<input type="text" placeholder="  Search" size="8em"/>');
				}
			});


			// DataTable
			var table = $('#applicants').DataTable({
				select: true,
				"deferRender": false,

				"ajax": {
					"url": "/application",
					"dataSrc": ""
				},

				"columns": [
					{
						"className": 'details-control',
						"orderable": false,
						"data": null,
						"defaultContent": ''
					},
					{
						"className": 'review-control',
						"orderable": false,
						"data": null,
						"defaultContent": ''
					},
					{
						"data": "emp_id",
						"visible": false,
						"searchable": false
					},
					{
						"data": "applicant_id",
						"visible": false,
						"searchable": false
					},
					{ "data": "name" },
					{
						"data": "dob",
						"visible": false,
						"searchable": false
					},
					{
						"data": "gender",
						"visible": false,
						"searchable": false
					},
					{ "data": "country" },
					{ "data": "program" },
					{ "data": "degree" },
					{ "data": "interests" },
					{ "data": "ug_university" },
					{
						"data": "ug_major",
						"visible": false,
						"searchable": false
					},
					{
						"data": "ug_degree",
						"visible": false,
						"searchable": false
					},
					{ "data": "ug_gpa" },
					{ "data": "grad_university" },
					{
						"data": "grad_major",
						"visible": false,
						"searchable": false
					},

					{
						"data": "grad_degree",
						"visible": false,
						"searchable": false
					},
					{ "data": "grad_gpa" },
					{ "data": "toefl_ielts" },
					{ "data": "gre" },
					{ "data": "decision" },
					{ "data": "advisor" },
					{ "data": "assistantship" },
					{
						"data": "fte",
						"visible": false,
						"searchable": false
					},
					{
						"data": "yearly_amount",
						"visible": false,
						"searchable": false
					},
				],

				"order": [[4, 'asc']],
			});

			// Add event listener for opening and closing child attributes
			$('#applicants tbody').on('click', 'td.details-control', function () {
				var tr = $(this).closest('tr');
				var row = table.row(tr);
				var row_data = row.data();
				var applicant_id = row_data.applicant_id;

				function listen_btn(btn_id_prefix, file_name, id) {
					var btn_id = btn_id_prefix + '_' + id;

					$(btn_id).on('change', function () {
						var files = $(btn_id).prop('files');

						toast("Load " + files[0].name + ", size: " + files[0].size + ' for ' + file_name);
						upload("/file/" + id + "/" + file_name, files[0]);
					});
				}

				function listen_btns() {
					listen_btn("#btn_resume", "resume", applicant_id);
					listen_btn("#btn_ps", "ps", applicant_id);
					listen_btn("#btn_ug_trans", "ug_trans", applicant_id);
					listen_btn("#btn_grad_trans", "grad_trans", applicant_id);
					listen_btn("#btn_toefl", "toefl", applicant_id);
					listen_btn("#btn_gre", "gre", applicant_id);
					listen_btn("#btn_letter1", "letter1", applicant_id);
					listen_btn("#btn_letter2", "letter2", applicant_id);
					listen_btn("#btn_letter3", "letter3", applicant_id);
					listen_btn("#btn_letter4", "letter4", applicant_id);
					listen_btn("#btn_other1", "other1", applicant_id);
					listen_btn("#btn_other2", "other2", applicant_id);
				}

				function off_btn(btn_id) {
					$(btn_id).off('change');
				}

				// remove the listener to avoid triggering multiple times
				function off_btns(id) {
					off_btn("#btn_resume_" + id);
					off_btn("#btn_ps_" + id);
					off_btn("#btn_ug_trans_" + id);
					off_btn("#btn_grad_trans_" + id);
					off_btn("#btn_toefl_" + id);
					off_btn("#btn_gre_" + id);
					off_btn("#btn_letter1_" + id);
					off_btn("#btn_letter2_" + id);
					off_btn("#btn_letter3_" + id);
					off_btn("#btn_letter4_" + id);
					off_btn("#btn_other1_" + id);
					off_btn("#btn_other2_" + id);
				}

				if (row.child.isShown()) {
					// This row is already open - close it
					row.child.hide();
					tr.removeClass('shown');
					// remove the event listener, other it will be fired multiple times
					$('#applicants').off('click', "#btn_update" + applicant_id);
					off_btns(applicant_id);

				} else {
					// close the currently open row. We have to do this otherwise the style of the button is wrong
					table.rows().every(function (rowIdx, tableLoop, rowLoop) {
						var open_row = table.row(rowIdx);

						if (open_row.child.isShown()) {
							open_row.child.hide();
							$(open_row.node()).removeClass('shown');
							$('#applicants').off('click', "#btn_update" + open_row.data().applicant_id);
							off_btns(open_row.data().applicant_id);
						}
					});

					// Open this row
					row.child(format(row_data)).show();
					tr.addClass('shown');

					style_files(row_data);
					listen_btns();

					$('#applicants').on('click', "#btn_update" + applicant_id, function () {
						// retrieve data from the child form. Datatables uses strings, We need to 
						// convert them to integer or float for some fields for json to be valid.
						var json_obj = {};

						$.each(fields, function (key, value) {
							if (value.can_change) {
								row_data[key] = $('#input_' + key + '_' + applicant_id).val();
							}

							if (value.convert !== null) {
								json_obj[key] = value.convert(row_data[key]);
							} else {
								json_obj[key] = row_data[key];
							}
						});

						// update the row
						row.data(row_data);

						var json = JSON.stringify(json_obj);

						$.ajax({
							type: "POST",
							url: "/application",
							data: json,
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							complete: function (data) { toast(data.responseJSON["status"]); }
						});
					});
				}
			});

			// open a review window
			$('#applicants tbody').on('click', 'td.review-control', function () {
				var tr = $(this).closest('tr');
				var row = table.row(tr);
				var row_data = row.data();
				window.open('/review/' + row_data.applicant_id, '_blank');
			});

			// Apply the search
			table.columns().every(function () {
				var that = this;
				$('input', this.footer()).on('keyup change', function () {
					if (that.search() !== this.value) {
						that
							.search(this.value)
							.draw();
					}
				});
			});

			$('#btn_logout').on('click', function () {
				$.ajax({
					type: "POST",
					url: "/logout",
					complete: function () {
						location.reload();
					}
				});
			});

			$('#btn_account').on('click', function () {
				window.open('/account', '_blank');
			});

			$('#btn_import').on('change', function () {
				var files = $('#btn_import').prop('files');

				toast("Import from " + files[0].name + ", size: " + files[0].size);
				upload("/file/import", files[0], function () { table.ajax.reload(); });
			});

			// Show the flash message
			if (Cookies.get("_flash") !== undefined) {
				//toast(Cookies.get("_flash"));
				Cookies.remove("_flash");
			}
		});
	</script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<h1>Applications to CS Graduate Programs
					<span>Spring 2019
					</span>
				</h1>
			</div>
			<div class="col-lg-3">
				<div class="btn-group float-right btn-group-sm">
					<button class="btn btn-outline-primary" id="btn_logout">Logout {{user_name}}/{{role}}</button>
					<button type="button" class="btn btn-outline-warning" id="btn_account">Accounts</button>
					<input type="file" class="filestyle" data-input="false" data-text="Import" data-btnClass="btn-outline-warning" data-size="sm"
					 id="btn_import" accept=".csv">
				</div>
			</div>
		</div>

		<hr/>

		<div class="row">
			<table id="applicants" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Employee ID</th>
						<th>Applicant ID</th>
						<th>Name</th>
						<th>DOB</th>
						<th>Gender</th>
						<th>Country</th>
						<th>Program</th>
						<th>Degree</th>
						<th>Interests</th>
						<th>UG_University</th>
						<th>UG_Major</th>
						<th>UG_Degree</th>
						<th>UG_GPA</th>
						<th>Grad_University</th>
						<th>Grad_Major</th>
						<th>Grad_Degree</th>
						<th>Grad_GPA</th>
						<th>TOEFL</th>
						<th>GRE</th>
						<th>Decision</th>
						<th>Advisor</th>
						<th>Assistantship</th>
						<th>FTE</th>
						<th>Salary</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th>Employee ID</th>
						<th>Applicant ID</th>
						<th>Name</th>
						<th>DOB</th>
						<th>Gender</th>
						<th>Country</th>
						<th>Program</th>
						<th>Degree</th>
						<th>Interests</th>
						<th>UG_University</th>
						<th>UG_Major</th>
						<th>UG_Degree</th>
						<th>UG_GPA</th>
						<th>Grad_University</th>
						<th>Grad_Major</th>
						<th>Grad_Degree</th>
						<th>Grad_GPA</th>
						<th>TOEFL</th>
						<th>GRE</th>
						<th>Decision</th>
						<th>Advisor</th>
						<th>Assistantship</th>
						<th>FTE</th>
						<th>Salary</th>
					</tr>
				</tfoot>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

	<div id="snackbar"> </div>

	<script type="text/javascript" src="/resources/bootstrap-filestyle.min.js"> </script>
</body>

</html>